.task__list {
  display: block;
  margin-bottom: 20px;
}

.childRef {
  height: 20px;
  background-color: green;
}

.table {
  width: 100%;
  tr {
    border-bottom: 1px solid #dfe4e9;
  }
  th {
    vertical-align: middle;
    padding: 8px 16px;
    height: 50px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
  }
  td {
    vertical-align: middle;
    padding: 8px 16px;
    height: 60px;
  }
}

.table-inner {
  display: flex;
  gap: 16px;

  &--right {
    justify-content: right;
  }

  &--center {
    justify-content: center;
    align-items: center;
  }
}
