.news_container {
  padding-top: 10px;
  margin-top: 40px;
  box-sizing: border-box;
  max-width: 327px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 6px 50px rgba(217, 229, 255, 0.7);
  border-radius: 15px;
  margin-right: 30px;
  max-height: 300px;
  height: 100%;
}

.image__inner {
  & img {
    height: 100%;
    max-width: 256px;
    max-height: 199px;
    width: 100%;
  }
}
