* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #000;
  /* свойство делает ссылку одновременно строчным и блочным элементом. Ссылка растягивается только по размерам контента , но при этом  к ней можно применять свойства для блочных элементов  */
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}
